{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        {% for product in products %}
            <div class="product">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <a href="{{ path('product_show', { 'slug': product.slug }) }}">
                            <div class="card-header" data-background-color="orange">
                                <i class="material-icons">camera_alt</i>
                            </div>
                        </a>
                        <div class="card-content">
                            <h3 class="category"><a href="{{ path('product_show', { 'slug': product.slug }) }}">{{ product.title }}</a></h3>
                            <ul class="list-unstyled">
                                {% for price in product.priceOptions %}
                                 <li>
                                    <div class="price-options">
                                        {# {{ dump(price) }} #}
                                        {{ price }} <a href="{{ path('product_show', { 'slug': product.slug, 'quick_checkout': 1 }) }}">Buy Now</a> <i class="material-icons">add_shopping_cart</i>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %} 
</div>
{% endblock %}

