{% extends 'base.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col-lg-6">

            <h2 class="h2-responsive center-on-small-only product-name">
                <strong>{{ shopOrder.product.title }}</strong> <span class="grey-text order-id"><small>Order ID: {{ shopOrder.id }}</small></span>
            </h2>

            <div class="card">
                <div class="card-header" data-background-color="purple">
                    <h4 class="title">Order Paywall</h4>
                </div>
                <div class="card-content">

                    <div class="row">
                        <div class="col-md-4">

                            <h3>Ship To:</h3>
                            {{ shopOrder.name }} {{ shopOrder.lastName }}<br>
                            {{ shopOrder.address }}<br>
                            {% if shopOrder.address2 %}
                                {{ shopOrder.address2 }}<br>
                            {% endif %}
                            {{ shopOrder.city }}, {{ shopOrder.state }}, {{ shopOrder.zip }}<br>
                            {{ shopOrder.country }}<br>
                            {{ shopOrder.email }}<br>

                            <a href="{{ path('shoporder_edit', { 'id': shopOrder.id }) }}">Edit</a>

                        </div>
                        <div class="col-md-8 text-center">
                            <h3 class="btc-due"><strong>Amount Due:  <i class="fa fa-btc"></i>{{ shopOrder.orderTotalBtc|number_format(4) }}</strong></h3>
                            <p><em>Send payment to the below address to complete your order.</em></p>

                            <div class="form-group">
                                <input id="btc-address" type="text" class="form-control text-center" readonly="readonly" value="{{ pay_to }}">
                                <button class="btn" data-clipboard-target="#btc-address">
                                    <i class="material-icons">content_copy</i> Copy Address
                                </button>
                            </div>

                            <div class="qr-code">
                                <br>
                                <p><em>Or scan QR Code with your mobile device.</em></p>
                                <img src="http://chart.googleapis.com/chart?chs=350x350&cht=qr&chl={{ pay_to }}">
                            </div>

                            <div id="websocket" class="websocket-color-blue">
                                <i class="fa fa-circle-o-notch fa-spin"></i> Awaiting {{ shopOrder.orderTotalBtc|number_format(4) }} BTC payment...
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
{% endblock %}

{# Includig Clipboard.js to copy BTC address with <button> element #}
{% block javascripts %}
    {{ parent() }}
    <script src="https://cdn.jsdelivr.net/npm/clipboard@1/dist/clipboard.min.js"></script>
    <script type="text/javascript">
    var clipboard = new Clipboard('.btn');
    </script>
{% endblock %}
