{% extends 'base.html.twig' %}

{% block body %}
    <div class="content">
        <div class="container-fluid">
            <div class="row">

                <h1>Products list</h1>

                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Title</th>
                            <th>Body</th>
                            <th>Price</th>
                            <th>Updatedat</th>
                            <th>Createdat</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for product in products %}
                            <tr>
                                <td><a href="{{ path('admin_product_show', { 'id': product.id }) }}">{{ product.id }}</a></td>
                                <td>{{ product.title }}</td>
                                <td>{{ product.body }}</td>
                                <td>{{ product.price }}</td>
                                <td>{% if product.updatedAt %}{{ product.updatedAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>{% if product.createdAt %}{{ product.createdAt|date('Y-m-d H:i:s') }}{% endif %}</td>
                                <td>
                                    <ul>
                                        <li>
                                            <a href="{{ path('admin_product_show', { 'id': product.id }) }}">show</a>
                                        </li>
                                        <li>
                                            <a href="{{ path('admin_product_edit', { 'id': product.id }) }}">edit</a>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

                <ul>
                    <li>
                        <a href="{{ path('admin_product_new') }}">Create a new product</a>
                    </li>
                </ul>

            </div>  
        </div>  
    </div>
{% endblock %}
